2021_DominguezBajo_Biomaterials.pdf
2X-P4S05-1.tif
2X-P4S05-11.tif
2X-X27-3.tif
2X-X27-3_CompactnessAnalysis.png
2X-X27-3_analysis.png
2X-X6-4.tif
2X-X6-4.xlsx
2X-X6-4_CompactnessAnalysis.png
2X-X6-4_analysis.png
CompactWidgets.py
Crop-control.tif
Crop-injury.tif
Crop-scaffold.tif
DisplayImage.py
OldCompactAnalysis.py
QLabel.py
Widgets.py
__pycache__/
clustering_analysis.py
compact.py
image_analysis.py
muscles.tar.gz
plot_colortable.py
